@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}
<div class="container">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="account" method="post">
                    <h1 class="mb-3 mt-5"> @Localizer["Sign In"]</h1>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="form-check-label" asp-for="Input.RememberMe">Запомнить меня</label>
                        </div>
                        <button id="login-submit" type="submit" class="w-100 btn mb-3 text-white"
                                style="background:#91AC8E; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">
                                @Localizer["Sign In"]
                        </button>
                        <hr />
                        <div class="text-center">
                            <p class="mb-1">
                                    <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["Forgot your password?"]</a>
                            </p>
                            <p class="mb-1">
                                    @Localizer["Not signed up on Petsitter yet?"]
                            </p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" 
                            class="text-white w-50 btn mb-3 mt-3" style="background:#91AC8E; 
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">
                                    @Localizer["Sign Up"]
                            </a>                            
                            @*<p class="mb-0">
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}