@model IEnumerable<Petsitter.ViewModels.MessageVM>
@{
    ViewData["Title"] = "Chat with " + @ViewData["FirstName"];
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Chat with @ViewData["FirstName"]</h1>

          
            <span>Message: </span>
            <textarea rows="10" cols="50" id="txtMsg"></textarea><br />
            <button type="submit" class="btn btn-info" id="btnSendMsg">Send</button>
        </div>
        <div class="col-md-6">
            <h3>Messages: </h3>
            <ul id="list" class="alert alert-info">
                @foreach (var item in Model)
                {
                    int? fromUserID = ViewData["fromUserID"] as int?;
                    if (item.fromUserID == fromUserID.Value)
                    {
                        <li>
                            <div style="font-weight: bold;">
                                @ViewData["UserName"]
                                @Html.DisplayFor(modelItem => item.fromUserID)
                            </div>
                            @Html.DisplayFor(modelItem => item.messageText)
                        </li>
                    }
                    else
                    {
                        <li>
                            <div style="font-weight: bold;">
                                @ViewData["FirstName"]
                                @Html.DisplayFor(modelItem => item.fromUserID)
                            </div>
                            @Html.DisplayFor(modelItem => item.messageText)
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div >

    <input type="hidden" id="fromUserID" value="@ViewData["fromUserID"]" />
    <input type="hidden" id="toUserID" value="@ViewData["toUserID"]" />

</div>

@{
  
    ViewData["SitterID"] = @ViewData["SitterID"];
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
}
