@model Petsitter.ViewModels.CreateReviewVM

@{
    ViewData["Title"] = "CreateReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var item = Model.EndDate;
}

@{
    User user = ViewData["SitterProfileImg"] as User;
}
<div class="container">

<h2 class="text-center text-uppercase">Create Review</h2>
<hr class="mt-4">
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h4>SITTER: @ViewBag.SitterName</h4>
    @if (user.ProfileImage == null)
    {
        <p>No Profile Image Given, go edit profile link add your new Profile Image!</p>
    }
    else
    {
        <img style="width: 50%; height: 50%; border: 2px solid black; margin: 10px; padding: 5px;" src="data:image/png;base64, @Convert.ToBase64String(user.ProfileImage)" alt="User Profile Image" />
}
<hr class="mt-4">

<div>
    <h4>Service Date: </h4>

    <p>@Model.StartDate.ToString("MMMM d, yyyy") - @Model.EndDate.ToString("MMMM d, yyyy")</p>



</div>

<hr class="mt-4">

<div class="row">
    <div class="col-md-4 w-100">
        <form asp-action="CreateReview" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SitterId" />
            <input type="hidden" asp-for="BookingId" />

            <div class="form-group">
                <label class="control-label">RATING:</label>
                <div class="rating" style="text-align: left; margin-left: 0;">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" title="5 stars">★</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" title="4 stars">★</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" title="3 stars">★</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" title="2 stars">★</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" title="1 star">★</label>
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label asp-for="Review" class="control-label" style="text-transform: uppercase;"></label>
                <textarea asp-for="Review" class="form-control" style="width: 500px; height: 200px; float: left;"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>

            <div class="form-group" style="clear: both;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
</div>

<style>
    /* Set the size and color of the star */
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-size: 30px;
    }

        .rating:not(:checked) > input {
            position: absolute;
            top: -9999px;
            clip: rect(0,0,0,0);
        }

        .rating:not(:checked) > label {
            padding: 5px;
            background: transparent;
            font-size: 30px;
            color: #ccc;
            cursor: pointer;
        }

            .rating:not(:checked) > label:before {
                /*                content: '★';
    */
            }

        .rating > input:checked ~ label {
            color: #ffc700;
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }


    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }

    input[type="submit"],
    button {
        background-color: #91AC8E;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

</style>


