@model IEnumerable<Petsitter.ViewModels.SitterVM>

@{
    ViewData["Title"] = "Find A Sitter";
}

<h1 class="text-center">Find a Sitter</h1>

<form method="get" action="@Url.Action("FindASitter")" id="filterForm" class="bg-light p-4 mb-4 border border-secondary rounded mx-auto find-a-sitter-filter-form">
    <div>
        <label class="fw-bold">Filter By Pet</label>
        <div class="d-flex gap-4 pet-types">
            @foreach (var petType in ViewBag.PetTypes)
            {
                <label>
                    <input type="checkbox" name="petTypes" value="@petType" onclick="submitFilterForm()"
                       @(ViewBag.SelectedPetTypes != null && ViewBag.SelectedPetTypes.Contains(petType) ? "checked" : "") />
                    @petType
                </label>
            }
        </div>
        <label class="fw-bold">Filter By Service Type</label>
        <div class="d-flex gap-4 pet-types">
            @foreach (var serviceType in ViewBag.ServiceTypes)
            {
                <label>
                    <input type="checkbox" name="serviceTypes" value="@serviceType" onclick="submitFilterForm()"
                    @(ViewBag.SelectedServiceTypes != null && ViewBag.SelectedServiceTypes.Contains(serviceType) ? "checked" : "") />
                    @serviceType
                </label>
            }
        </div>
        <label class="fw-bold">Find sitter for</label>
        <div class="d-flex gap-4 pet-types">
            @foreach (var pet in ViewBag.Pets)
            {
                <label>
                    <input type="checkbox" name="petNames" value="@pet.Name" onclick="submitFilterForm()"
                    @(ViewBag.SelectedPetNames != null && ViewBag.SelectedPetNames.Contains(pet.Name) ? "checked" : "") />
                    @pet.Name
                </label>
            }


        </div>
    </div>
    <div>
        <label for="selectedDates" class="fw-bold">Filter By Available Dates</label>
        <div class="d-flex gap-2">
            <input type="text" class="form-control date" placeholder="Select all dates service is needed"
                   id="selectedDates" name="selectedDates" value="@ViewBag.SelectedDates" />
            <button type="submit" class="btn btn-dark">Filter</button>
        </div>
    </div>
    <a asp-action="FindASitter" class="link-light clear-button"><button type="button" class="btn btn-secondary mt-2 w-100">Reset Filters</button></a>
</form>
<div class="list-of-sitters">
    @if (Model.Any())
    {
        @foreach (var item in Model.Where(s => s.SitterId != 1))
        {
            <section class="find-a-sitter-section">
                @if (item.ProfileImage != null)
                {
                    <img src="data:image/png;base64, @Convert.ToBase64String(item.ProfileImage)" alt="@Html.DisplayFor(modelItem => item.FirstName) Profile Image" class="img-fluid mx-auto my-3 d-block img-thumbnail sitter-image" />
                }
                <div>
                    <div class="name-rate">
                        <h2>@Html.DisplayFor(modelItem => item.FirstName)</h2>
                        <span><span class="price">$@Html.DisplayFor(modelItem => item.Rate)</span> per day</span>
                    </div>
                    <div class="text-uppercase" style="font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.City)
                    </div>
                    <div class="rating">
                        <span class="@IsStarSelected(1, @item.AvgRating)">&#9733;</span>
                        <span class="@IsStarSelected(2, @item.AvgRating)">&#9733;</span>
                        <span class="@IsStarSelected(3, @item.AvgRating)">&#9733;</span>
                        <span class="@IsStarSelected(4, @item.AvgRating)">&#9733;</span>
                        <span class="@IsStarSelected(5, @item.AvgRating)">&#9733;</span>
                    </div>
                    <div>@Html.DisplayFor(modelItem => item.ProfileBio)</div>
                    <div class="more-info-link">
                        <a asp-action="SitterDetails" asp-route-sitterID="@item.SitterId" class="text-white mx-auto col-12 col-md-6 btn" style="background:#6366F1;
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">Book with @Html.DisplayFor(modelItem => item.FirstName)</a>
                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <p>No sitters found.</p>
    }
</div>

<script>
    function submitFilterForm() {
        document.getElementById("filterForm").submit();
    }
</script>
@functions {
    public string IsStarSelected(int star, double? rating)
    {
        if (star <= rating)
        {
            return "highlight";
        }
        else
        {
            return "no-highlight";
        }
    }
}
@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.en-GB.min.js"></script>

    <script>
        $('.date').datepicker({
            multidate: true,
            format: 'dd-mm-yyyy'
        });
    </script>
}


