@model IEnumerable<Petsitter.ViewModels.SitterVM>

@{
    ViewData["Title"] = "Find A Sitter";
}
<div class="container">

    <h1 class="h1-find">Найти петситтера</h1>

<form method="get" action="@Url.Action("FindASitter")" id="filterForm" class="filterForm__body">
        <a asp-action="FindASitter"><button type="button" class="btn__reset__filters"></button></a>

        <div>
                <label class="text__filter">По виду:</label>
            <div class="checkbox__container">
                @foreach (var petType in ViewBag.PetTypes)
                {
                    <label class="lbl__checkbox">
                        <input type="checkbox" class="my-checkbox" id="my-checkbox" name="petTypes" value="@petType" onclick="submitFilterForm()"
                        @(ViewBag.SelectedPetTypes != null && ViewBag.SelectedPetTypes.Contains(petType) ? "checked" : "") />
                        <span class="my-checkbox-text">@petType</span>
                    </label>


                }
            </div>
                <label class="text__filter">По типу услуги:</label>
            <div class="checkbox__container">
                @foreach (var serviceType in ViewBag.ServiceTypes)
                {
                    <label class="lbl__checkbox">
                            <input type="checkbox" class="my-checkbox"  name="serviceTypes" value="@serviceType" onclick="submitFilterForm()"
                        @(ViewBag.SelectedServiceTypes != null && ViewBag.SelectedServiceTypes.Contains(serviceType) ? "checked" : "") />
                        <span class="my-checkbox-text">@serviceType</span>
                    </label>
                }
            </div>
                <label class="text__filter">Найти петситтера для:</label>
            <div class="checkbox__container">
                @foreach (var pet in ViewBag.Pets)
                {
                    <label class="lbl__checkbox">
                            <input type="checkbox" class="my-checkbox" name="petNames" value="@pet.Name" onclick="submitFilterForm()"
                        @(ViewBag.SelectedPetNames != null && ViewBag.SelectedPetNames.Contains(pet.Name) ? "checked" : "") />
                        <span class="my-checkbox-text">@pet.Name</span>
                    </label>
                }

                    
             </div>
         </div>
    <div>
            <label for="selectedDates" class="text__filter">По доступным датам:</label>
        <div class="d-flex gap-2">
            <input type="text" class="form-control date" placeholder="Select all dates service is needed"
                   id="selectedDates" name="selectedDates" value="@ViewBag.SelectedDates" />
            <button type="submit" class="btn btn-dark">Filter</button>
        </div>
    </div>
</form>

<div class="list-of-sitters">
    @if (Model.Any())
    {
        @foreach (var item in Model.Where(s => s.SitterId != 1))
        {
                <section class="card__find">
                    <div class="card__body__find">
                    @if (item.ProfileImage != null)
                        {
                            <div class="find__img__wrapper">
                                <img src="data:image/png;base64, @Convert.ToBase64String(item.ProfileImage)" alt="@Html.DisplayFor(modelItem => item.FirstName) Profile Image" class="card__image__find" />
                            </div>
                        }
                    <div class="text__content__card">
                        <div class="name-rate">
                            <h2>@Html.DisplayFor(modelItem => item.FirstName)</h2>
                            <span><span class="price">@Html.DisplayFor(modelItem => item.Rate)</span> руб.</span>
                        </div>
                        <div class="text-uppercase" style="font-weight:bold;">
                            @Html.DisplayFor(modelItem => item.City)
                        </div>
                        <div class="rating">
                            <span class="@IsStarSelected(1, @item.AvgRating)">&#9733;</span>
                            <span class="@IsStarSelected(2, @item.AvgRating)">&#9733;</span>
                            <span class="@IsStarSelected(3, @item.AvgRating)">&#9733;</span>
                            <span class="@IsStarSelected(4, @item.AvgRating)">&#9733;</span>
                            <span class="@IsStarSelected(5, @item.AvgRating)">&#9733;</span>
                        </div>
                        <div class="sitter__bio">@Html.DisplayFor(modelItem => item.ProfileBio)</div>
                        <div class="more-info-link">
                                <a asp-action="SitterDetails" asp-route-sitterID="@item.SitterId" class="text-white mx-auto col-12 col-md-6 btn" style="background:#91AC8E;
                                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">Забронировать услуги</a>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <p>No sitters found.</p>
    }
</div>
</div>
<script>
    function submitFilterForm() {
        document.getElementById("filterForm").submit();
    }
</script>
@functions {
    public string IsStarSelected(int star, double? rating)
    {
        if (star <= rating)
        {
            return "highlight";
        }
        else
        {
            return "no-highlight";
        }
    }
}
@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.en-GB.min.js"></script>

    <script>
        $('.date').datepicker({
            multidate: true,
            format: 'dd-mm-yyyy'
        });
    </script>
}


