@model IEnumerable<Petsitter.ViewModels.BookingVM>

@{
    ViewData["Title"] = "Announcement";
}
<div class="container">
@if (Model.Count() == 0)
{
    <p class="mt-4">You haven't posted any ads yet! You can leave a request <a asp-action="ViewCreateBooking">here</a> .</p>
}
else
{
    <hr/>
    <h1>Объявления</h1>
    <div class="list-of-bookings">
        @foreach (var item in Model.Where(b => b.SitterId == 1)) 
        {
                <div class="reg__1">
                    <section class="booking-section">
                        <div style="font-weight: bold;">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</div>
                        <div>
                            <span class="sitter-name">@Html.DisplayFor(modelItem => item.SpecialRequests)</span>
                            @for (int i = 1; i <= @item.Pets.Count - 1; i++)
                            {
                                <span>, @item.Pets[i].Name</span>
                            }
                            @if (@item.Pets.Count > 1)
                            {
                                <span> & @item.Pets[item.Pets.Count - 1].Name</span>
                            }
                        </div>
                        <span class="sitter-name"></span>

                        <div>
@*                             <a asp-controller="Chat" asp-action="ChatFromMyChats" asp-route-sitterID="@item.UserId" class="mt-2 mb-4 text-white mx-auto col-12 col-md-6 btn" style="background:#91AC8E; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); right:0;">Написать сообщение</a>
 *@                        </div>
                    </section>
                </div>
        }
    </div>
}
</div>