@model Petsitter.ViewModels.CustomerVM
@{
    ViewData["Title"] = "EditProfile";
}
<div class="container">

<h2 class="text-uppercase">Здравствуйте @Model.FirstName!</h2>
<h3 style="color:#91AC8E; font-size:1.4em;">Обновите ваш профиль и добавьте питомца!</h3>

<div class="container-fluid editprofile-container">
<hr />
    <div class="mt-3 mb-3 back-to-profile lead" style="font-size:large;">
        <a asp-action="GetProfile" class="back-link">
            <span class="arrow" style="color:#91AC8E;"></span>
            <span class="text text-lg-start mt-1">Back to Profile</span>
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="EditProfile" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="CustomerId" />
                <input type="hidden" asp-for="UserType" />

                <div class="mb-3">
                    <h3 class="mb-3">Изображение профиля</h3>
                    <div class="form-group">
                        <div class="input-group">
                            <input asp-for="ProfileImage" class="form-control" type="file">
                        </div>
                        <span asp-validation-for="ProfileImage" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <h3>Контактные данные</h3>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="FirstName" class="col-form-label lead">Имя</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="LastName" class="col-form-label lead">Фамилия</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                        <label asp-for="Email" class="col-form-label lead">Email</label>
                            <input asp-for="Email" class="form-control" readonly="readonly" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                        <label asp-for="PhoneNumber" class="col-form-label lead">Номер телефона</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="StreetAddress" class="form-label lead">Улица</label>
                            <input asp-for="StreetAddress" class="form-control" />
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="City" class="form-label lead">Город</label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="col-sm-12">
                            <label asp-for="PostalCode" class="form-label lead">Почтовый код</label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-5">
                    <button class="save-btn rounded-3 lead">Сохранить</button>
                </div>
            </form>
        </div>

        @{
            IEnumerable<Pet> pets = ViewData["PetLists"] as IEnumerable<Pet>;
        }

        @*Pet List*@
        <div class="col-md-4 pet-lists">
            <h3 class="text-uppercase">@Model.FirstName's Pet</h3>
            @if (pets.Count() == 0)
            {
                <p class="lead" style="margin-left:20px;">You have no pets, click Add Pet button to add your first pet!</p>
                <div class="mb-4 mt-4" style="margin-left:20px;">
                    <a asp-action="CreatePet" asp-route-id="@Model.CustomerId" class="pet-btn font-monospace lead rounded-2">🐶 Add Pet 🐱</a>
                </div>
            }
            else
            {
                 <div class="mb-4 mt-4" style="margin-left:20px;">
                    <a asp-action="CreatePet" asp-route-id="@Model.CustomerId" class="pet-btn lead rounded-2">🐶 Add Pet 🐱</a>
                </div>
                <table class="table" style="margin-left:20px;">
                    <tr>
                        <th>Name</th>
                    </tr>
                    @foreach (Pet pet in pets)
                    {
                        <tr class="pet-lists">
                            <td class="d-flex justify-content-between">
                                @if (@pet.PetType == "Dog")
                                {
                                    <div>
                                        <i class="fa-solid fa-dog"></i>
                                        <a asp-action="GetPet" asp-route-id="@pet.PetId" class="text-decoration-none text-black">@pet.Name</a>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <i class="fa-solid fa-cat"></i>
                                        <a asp-action="GetPet" asp-route-id="@pet.PetId" class="text-decoration-none text-black">@pet.Name</a>
                                    </div>
                                }
                                <div style="cursor:pointer;">
                                    <a asp-action="EditPet" asp-route-id="@pet.PetId">
                                        <span class="material-symbols-outlined edit">edit</span>
                                    </a>
                                    <a class="btn-delete" data-id="@pet.PetId" data-controller="Customer" data-action="DeletePet" data-body-message="Are you sure to delete @pet.Name on your pet list?">
                                        <span class="material-symbols-outlined delete" style="color:red; margin-left:5px;">delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
