@model Petsitter.ViewModels.CustomerVM

@{
    ViewData["Title"] = "GetProfile";
}

<div class="container">

    <div class="getprofile-container">
    <div class="profile-wrapper">
        <h2>Здравствуйте @Html.DisplayFor(model => model.FirstName)!</h2>
        <h4 class="text-break text-center">
            Чтобы добавить вашего питомца и обновить данные нажмите 
            <a asp-action="EditProfile" asp-route-id="@Model.CustomerId">
                <span class="material-symbols-outlined">
                    account_box
                </span>
            </a>
           
        </h4>
    </div>

    <hr class="mt-4" />

    @{

        IEnumerable<User> users = ViewData["UserData"] as IEnumerable<User>;
        byte[] defaultImg = ViewData["ProfileImg"] as byte[];
        string defaultImgString = Convert.ToBase64String(defaultImg);
    }

    <div class="profile-container">
        <dl class="row">
            <dd class="col-sm-10">
               
                @foreach (User user in users)
                { @if (user.ProfileImage != null)
                    {
                        if (Convert.ToBase64String(user.ProfileImage) == defaultImgString)
                        {
                            <div class="img-warning">
                                <button type="button" class="close">&times;</button>
                                <span class="material-symbols-outlined fa-3x">
                                    warning
                                </span>
                                <div class="p-2">
                                    <p class="m-0">Добавьте изображение профиля</p>
                                </div>
                                    <a asp-action="EditProfile" asp-route-id="@Model.CustomerId" class="btn btn-img">Добавить изображение</a>
                            </div>
                        }
                        else
                        {
                            <img style="max-width: 400px;" src="data:image/png;base64, @Convert.ToBase64String(user.ProfileImage)" alt="@Html.DisplayFor(model => model.FirstName) Profile Image" />
                        }
                    }
                    else
                    {
                        <img style="max-width: 400px;" src="~/images/default-image.jpg" alt="Default Profile Image" />
                    }
                }

            </dd>
            <h4 class="text-decoration-underline mt-4">Контактные данные</h4>
            <div class="row">
                <div class="col-sm-6">
                    <dt class="mb-2">Имя</dt>
                    <dd>@Html.DisplayFor(model => model.FirstName)</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="mb-2">Фамилия</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6">
                    <dt class="mb-2">Email</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="mb-2">Номер телефона</dt>
                    <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                </div>
                </div>
               
                <div class="row">
                <div class="col-sm-6">
                    <dt class="mb-2">Город</dt>
                    <dd>@Html.DisplayFor(model => model.City)</dd>
                </div>
               
                </div>
                <div class="row">
                <div class="col-sm-12">
                    <dt class="mb-2">Адрес</dt>
                    <dd>@Html.DisplayFor(model => model.StreetAddress)</dd>
                </div>
            </div>

            @{

                IEnumerable<Pet> pets = ViewData["PetLists"] as IEnumerable<Pet>;
            }

           @* @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">@ViewBag.Message</div>
            }*@

        <h4 class="text-decoration-underline mt-4">Ваши питомцы</h4>
            @if (Model.BookedPets != null && Model.BookedPets.Count() > 0)
            {
                <p class="lead">
                    You have @Model.BookedPets.Count() bookings with:
                    @String.Join(", ", Model.BookedPets.Select(bp => bp?.Pet?.Name).Distinct())
                </p>
            }
        <table class="table">
            @if (pets.Count() == 0)
            {
                <p class="lead">Вы не добавили питомцев</p>
            }
            else
            {
                <tr>
                    <th>Кличка</th>
                </tr>
                @foreach (Pet pet in pets)
                {
                        <tr class="pet-lists">
                            <td class="d-flex justify-content-between lead">
                            @if (@pet.PetType == "Dog")
                            {
                                <div>
                                    <i class="fa-solid fa-dog"></i>
                                    <a asp-action="GetPet" asp-route-id="@pet.PetId" class="text-decoration-none text-black">@pet.Name</a>
                                    @{bool hasPastBooking = false;}
                                        @if (Model.Booking.Join(Model.BookedPets,
                                            booking => booking.BookingId,
                                            bookingPet => bookingPet.BookingId,
                                            (booking, bookingPet) => new { Booking = booking, BookingPet = bookingPet })
                                      .Any(b => b.Booking.EndDate < DateTime.Now && b.BookingPet.PetId == pet.PetId))
                                        {
                                            <i class="fa-solid fa-calendar-days" style="color:red;margin-left:3px;"></i>
                                            <span style="font-size:0.8em;">Booking date is passed!</span>
                                        }
                                        else if(Model.BookedPets.Any(bp => bp.PetId == pet.PetId))
                                        {
                                            <i class="fa-solid fa-check" style="color:chartreuse; margin-left:3px;"></i>
                                        }

                                  
                                </div>
                            }
                            else
                            {
                                <div>
                                    <i class="fa-solid fa-cat"></i>
                                    <a asp-action="GetPet" asp-route-id="@pet.PetId" class="text-decoration-none text-black">@pet.Name</a>
                                        @{
                                            bool hasPastBooking = false;
                                        }

                                        @if (Model.Booking.Join(Model.BookedPets,
                                            booking => booking.BookingId,
                                            bookingPet => bookingPet.BookingId,
                                            (booking, bookingPet) => new { Booking = booking, BookingPet = bookingPet })
                                       .Any(b => b.Booking.EndDate < DateTime.Now && b.BookingPet.PetId == pet.PetId))
                                        {
                                            <i class="fa-solid fa-calendar-days" style="color:red;margin-left:3px;"></i>
                                            <span style="font-size:0.8em;">Booking date is passed!</span>
                                        }
                                        else if (Model.BookedPets.Any(bp => bp.PetId == pet.PetId))
                                        {
                                            <i class="fa-solid fa-check" style="color:chartreuse; margin-left:3px;"></i>
                                        }
                                </div>
                            }
                            <div>
                                <a asp-action="EditPet" asp-route-id="@pet.PetId">
                                    <span class="material-symbols-outlined edit">edit</span>
                                </a>

                                    <a class="btn-delete" data-id="@pet.PetId" data-controller="Customer" data-action="DeletePet" data-body-message="Вы уверены, что хотите удалить @pet.Name из списка питомцев?">
                                    <span class="material-symbols-outlined delete">delete</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                }
        </table>
    </div>
</div>

</div>

