@model IEnumerable<Petsitter.ViewModels.SitterVM>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="wrapper">

    <div class="big__pet">
        <div class="eyes">
            <div class="eye">
                <div class="ball__out">
                    @* <div class="ball__light"></div> *@
                    <div class="ball__inner__wrapper">
                        <div class="ball__inner"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="ushki">
            <img class="img__ear" src="/Images/ear__cat.png" alt="location picture">
            <img class="img__ear__2" src="/Images/ear__cat__2.png" alt="location picture">
        </div>

        <img class="img__huge__animal" src="/Images/big__kitty__3.png" alt="location picture">

    </div>

    <div class="storeTitle">
            <div class="text-start">
                <h1 class="h1-pet">
                @Localizer["My pet is a ..."]
                </h1>
                <div class="btn-wrapper">
                    <button type="submit" class="btnPetMainPage">Кот</button>
                </div>
            </div>
           
    </div>

   

    <img class="PetSittersPic" src="~/Images/PetSittersPic.png" alt="location picture">

    <div class="backHowItWorks">
         <div class="howItWorks">
            <h1 class="howItWorksText">@Localizer["How it works"]</h1>
            <div class="p-wrapper">
                <p class="howItWorksP">
                    @Localizer["PetSitters was created"]
                    </p>
            </div>

        </div>
    </div>
    <div class="slider__wrapper">
        <div class="vertical-slider">
            <div class="slide vertical-slide">
                <img class="slider__img" src="/Images/slider__img__1.png">
                <div class="slide-content">
                        <p class="slide__num">
                            01
                        </p>
                        <p class="slide__text">
                             @Localizer["Register for an account"]</br></br>
                             @Localizer["Pet sitter or pet parent, you first need an account! Sign up mow!"]
                        </p>
                </div>
            </div>
            <div class="slide vertical-slide">
                <img class="slider__img" src="/Images/slider__img__2.png">
                <div class="slide-content">
                    <p class="slide__num">
                        02
                    </p>
                    <p class="slide__text">
                        @Localizer["Local pet sitters near you"]</br></br>
                        @Localizer["With a quickly growing community, you'll find what you need"]
                    </p>
                </div>
            </div>
            <div class="slide vertical-slide">
                <img class="slider__img" src="/Images/slider__img__3.png">
                <div class="slide-content">
                    <p class="slide__num">
                        03
                    </p>
                    <p class="slide__text">
                        @Localizer["Hire on your own terms"]</br></br>
                        @Localizer["Choose a pet sitter who fits your schedule and pay them directly"]
                    </p>
                </div>
            </div>
            <div class="slide vertical-slide">
                <img class="slider__img" src="/Images/slider__img__4.png">
                <div class="slide-content">
                    <p class="slide__num">
                        04
                    </p>
                    <p class="slide__text">
                        @Localizer["Personalized pet sittting"]</br></br>
                        @Localizer["Contact your chosen pet sitter and personalize your pet's experience"]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box__container">
        <div class="boxes__left">
            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            <div class="box box4"></div>
        </div>
        <div class="boxes__right">
            <div class="box box5"></div>
            <div class="box box6"></div>
            <div class="box box7"></div>
            <div class="box box8"></div>
        </div>
    </div>

    <div class="service__wrapper">
        <div class="service__content">
            <p class="service__text">
                @Localizer["What type of service do you need?"]
            </p>
            <button class="btnServiceType" onclick="startAnimation()">Выгул</button>

        </div>
    </div>

    <div class="found__wrapper">
        <div class="found__content">
            <p class="service__text">@Localizer["We have found a sitter for your pet!"]</p>
        </div>
        <div class="found__sitters__wrapper">
            <div id="column-1"></div>
            <div id="column-2"></div>
            <div id="column-3"></div>
            @if (Model.Any())
            {
                @foreach (var item in Model.Where(s => s.SitterId != 1))
                {
                    <div class="card">
                        <div class="card__body">
                          
                                @if (item.ProfileImage != null)
                                {
                                    <img src="data:image/png;base64, @Convert.ToBase64String(item.ProfileImage)" class="card__image" alt="@Html.DisplayFor(modelItem => item.FirstName) Profile Image" />
                                }
                            <div class="card__head">
                                <h5 class="card__title">@Html.DisplayFor(modelItem => item.FirstName)</h5>
                                <small class="text-muted">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= item.AvgRating)
                                        {
                                            <i class="fas fa-star text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    }
                                </small>
                            </div>
                            <div class="card__footer">
                                <div class="card__tags">
                                    @foreach (var petType in item.petTypes)
                                    {
                                        if (petType != null)
                                        {
                                            <span class="card__tag">@petType</span>
                                        }
                                    }
                                    @if (item.serviceTypes != null)
                                    {
                                        foreach (var serviceType in item.serviceTypes)
                                        {
                                            if (serviceType != null)
                                            {
                                                <span class="card__tag">@serviceType</span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="more-info-link">
                                    <a asp-controller="Booking" asp-action="SitterDetails" asp-route-sitterID="@item.SitterId">
                                        <button class="card__btn">@Localizer["View profile"]</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <p>@Localizer["No sitters found"]</p>
            }
        </div>
    </div>

    <div class="back__pre_footer">
        <div class="pre_footer">
            <h1 class="howItWorksText">@Localizer["Let's start!"]</h1>
                <div class="p-wrapper">
                    <div class="btn-wrapper">
                    <a class="find__sitter__btn" asp-area="" asp-controller="Booking" asp-action="FindASitter">@Localizer["Find a pet sitter"]</a>
                    </div>
                </div>
        </div>
    </div>
    
    <img class="cat__footer" src="/Images/cat__footer.png"></img>
    <img class="cat__footer__hand" src="/Images/cat__footer_hand.png"></img>

</div>

<script>
    let currentImageIndex = 0;
    const images1 = ['/Images/img_walking_1.png', '/Images/img_walking_2.png', '/Images/img_walking_7.png', '/Images/img_walking_4.png', '/Images/img_walking_4.png', '/Images/img_walking_6.png', '/Images/img_walking_5.png', '/Images/img_walking_2.png'];
    const images2 = ['/Images/lapka__1.png', '/Images/lapka__2.png', '/Images/lapka__3.png', '/Images/lapka__4.png', '/Images/lapka__5.png', '/Images/lapka__6.png', '/Images/lapka__7.png'];
    const images3 = ['/Images/img_walking_1.png', '/Images/training__1.png', '/Images/img_walking_7.png', '/Images/training__2.png', '/Images/training__3.png', '/Images/img_walking_6.png', '/Images/img_walking_5.png', '/Images/img_walking_2.png'];
    const images4 = ['/Images/grum__1.png', '/Images/grum__5.png', '/Images/grum__3.png', '/Images/grum__4.png', '/Images/grum__2.png', '/Images/lapka__7.png'];

    function startAnimation() {
        const boxes = document.querySelectorAll(".box");

        boxes.forEach(function (box) {
            box.classList.remove("animate");

            // Choose the image set based on currentImageIndex
            let imageSet;
            switch (currentImageIndex) {
                case 0:
                    imageSet = images2;
                    break;
                case 1:
                    imageSet = images3;
                    break;
                case 2:
                    imageSet = images4;
                    break;
                case 3:
                    imageSet = images1;
                    break;
                default:
                    imageSet = images1; // Default to images1 if index is out of range
            }

            box.style.backgroundImage = "url(" + imageSet[parseInt(box.classList.item(1).slice(-1)) - 1] + ")";
            box.offsetWidth;
            box.classList.add("animate");
        });

        currentImageIndex = (currentImageIndex + 1) % 4; // Cycle through 4 image sets
    }

    const btnServiceType = document.querySelector('.btnServiceType');
    const serviceNames = ['Выгул', 'Передержка', 'Дрессировка', 'Груминг'];
    let currentServiceIndex = 0;

    btnServiceType.addEventListener('click', () => {
        currentServiceIndex = (currentServiceIndex + 1) % serviceNames.length;
        btnServiceType.textContent = serviceNames[currentServiceIndex];
    });




    var ballss = document.getElementsByClassName("ball__inner");
    var balls = document.getElementsByClassName("ball__out");
    var light = document.getElementsByClassName("ball__light");
    var ballss2 = document.getElementsByClassName("ball__inner__2");
    var balls2 = document.getElementsByClassName("ball__out__2");
    var light2 = document.getElementsByClassName("ball__light__2");

    document.onmousemove = function () {
        var x = event.clientX * 100 / window.innerWidth + "%";
        var y = event.clientY * 100 / window.innerHeight + "%";

        //event.clientX => get the horizontal coordinate of the mouse
        //event.clientY => get the Vertical coordinate of the mouse
        //window.innerWidth => get the browser width
        //window.innerHeight => get the browser height

        for (var i = 0; i < 2; i++) {
            ballss[i].style.left = x;
            ballss[i].style.top = y;
            ballss[i].style.transform = "translate(-" + x + ",-" + y + ")";
            balls[i].style.left = x;
            balls[i].style.top = y;
            balls[i].style.transform = "translate(-" + x + ",-" + y + ")";

            ballss2[i].style.left = x;
            ballss2[i].style.top = y;
            ballss2[i].style.transform = "translate(-" + x + ",-" + y + ")";
            balls2[i].style.left = x;
            balls2[i].style.top = y;
            balls2[i].style.transform = "translate(-" + x + ",-" + y + ")";
            // light[i].style.left = x;
            // light[i].style.top = y;
            // light[i].style.transform = "translate(-" + x + ",-" + y + ")";
        }
    }

   
</script>

<script>
    $(function () {
        var cards = $(".found__sitters__wrapper .card");
        var column1 = $("#column-1");
        var column2 = $("#column-2");
        var column3 = $("#column-3");

        for (var i = 0; i < cards.length; i++) {
            if (i % 3 == 0) {
                column1.append(cards[i]);
            } else if (i % 3 == 1) {
                column2.append(cards[i]);
            } else {
                column3.append(cards[i]);
            }
        }
    });

    let currentImageIndex1 = 0;
    const images11 = ['/Images/big__kitty__3.png', '/Images/img__nose__cat.png'];
    const images22 = ['/Images/big__doggi__4.png', '/Images/img__nose__dog.png'];
    const images33 = ['/Images/big__rabbit__2.png', '/Images/img__nose__rabbit.png'];

    const img = document.querySelector('.img__huge__animal');
    const nose = document.querySelector('.ball__out');
    const ushki = document.querySelector('.ushki');

    const btnPetMainPage = document.querySelector('.btnPetMainPage');
    const petNames = ['Кот', 'Собака', 'Друг'];
    let currentPetIndex = 0;

    btnPetMainPage.addEventListener('click', () => {
        currentPetIndex = (currentPetIndex + 1) % petNames.length;
        btnPetMainPage.textContent = petNames[currentPetIndex];

        if (currentPetIndex === 0) {
            img.setAttribute('src', images11[0]);
            nose.style.backgroundImage = "url(" + images11[1] + ")";
            ushki.style.display = "block";
        } else if (currentPetIndex === 1) {
            img.setAttribute('src', images22[0]);
            nose.style.backgroundImage = "url(" + images22[1] + ")";
            ushki.style.display = "none";
        } else {
            img.setAttribute('src', images33[0]);
            nose.style.backgroundImage = "url(" + images33[1] + ")";
            ushki.style.display = "none";
        }
    });



</script>

<script>
    (function ($) {
        $(function () {
            $('.vertical-slider').slick({
                arrows: false,
                dots: false,
                edgeFriction: .5,
                infinite: false,
                vertical: true,
                verticalSwiping: true,
            });

            $('.vertical-slider').mousewheel(function (e) {
                if (e.deltaY < 0) {
                    if ($(this).slick('slickCurrentSlide') == $(this).find('.slide').length - 1) {
                        return
                    }

                    e.preventDefault()
                    $(this).slick('slickNext')
                } else {
                    if ($(this).slick('slickCurrentSlide') == 0) {
                        return
                    }

                    e.preventDefault()
                    $(this).slick('slickPrev')
                }
            });
        });
    }(jQuery));
    
</script>
