@*@model IEnumerable<Petsitter.Models.User>
*@
@model IEnumerable<Petsitter.ViewModels.SitterVM>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@*<div class="text-center">

*@

<div class="wrapper">
    <div class="storeTitle">
            <div class="text-start">
                <h1 class="h1-pet">
                    My pet<br />
                    is a
                    ...
                </h1>
                <div class="btn-wrapper">
                    <button type="submit" class="btnPetMainPage">cat</button>
                </div>
            </div>
           

    </div>
    <img class="PetSittersPic" src="~/Images/PetSittersPic.png" alt="location picture">

    <div class="backHowItWorks">
         <div class="howItWorks">
            <h1 class="howItWorksText">@Localizer["How it works"]</h1>
            <div class="p-wrapper">
            <p class="howItWorksP">PetSitters was created with the goal
                of bringing together and forming a
                community around pets, where users
                can provide mutual assistance and
                grow together.
                    </p>
            </div>

       @*  <ol class="wayOfHowItWorks">
            <li>
                <legend>@Localizer["Register for an account"]</legend>
                <p>@Localizer["FirstCap"]</p>
            </li>

            <li>
                <legend>@Localizer["Browse sitters in your area"]</legend>
                <p>@Localizer["SecCap"]</p>
            </li>
            <li>
                <legend>@Localizer["Hire the best pet sitter"]</legend>
                <p>@Localizer["TherdCap"]</p>
            </li>

        </ol> *@

        </div>
    </div>
    <div class="slider__wrapper">
        <div class="vertical-slider">
            <div class="slide vertical-slide">
                <div class="slide-content">
                        <p class="slide__num">
                            01
                        </p>
                        <p class="slide__text">
                             @Localizer["Register for an account"]</br></br>
                             @Localizer["Pet sitter or pet parent, you first need an account! Sign up mow!"]
                        </p>
                </div>
            </div>
            <div class="slide vertical-slide">
                <div class="slide-content">
                    <p class="slide__num">
                        02
                    </p>
                    <p class="slide__text">
                        @Localizer["Local pet sitters near you"]</br></br>
                        @Localizer["With a quickly growing community, you'll find what you need"]
                    </p>
                </div>
            </div>
            <div class="slide vertical-slide">
                <div class="slide-content">
                    <p class="slide__num">
                        03
                    </p>
                    <p class="slide__text">
                        @Localizer["Hire on your own terms"]</br></br>
                        @Localizer["Choose a pet sitter who fits your schedule and pay them directly"]
                    </p>
                </div>
            </div>
            <div class="slide vertical-slide">
                <div class="slide-content">
                    <p class="slide__num">
                        04
                    </p>
                    <p class="slide__text">
                        @Localizer["Personalized pet sittting"]</br></br>
                        @Localizer["Contact your chosen pet sitter and personalize your pet's experience"]
                    </p>
                </div>
            </div>
        </div>
    </div>


    <hr class="mt-4">

    <div class="container mx-auto">
        <h1 class="text-center">@Localizer["Top pet sitters"]</h1>

        <div class="row">

            @if (Model.Any())
            {

                @foreach (var item in Model.Where(s => s.SitterId != 1))
                {
                    <div class="col-md-4">
                        <div class="card mb-4 h-100">
                            <div class="card-body">
                                <div style="display: flex; align-items: center;">
                                    @if (item.ProfileImage == null)
                                    {
                                        <div style="width: 50px; height: 50px; border: 2px solid black; border-radius: 50%; margin-right: 10px;"></div>
                                    }
                                    else
                                    {
                                        <img style="width: 50px; height: 50px; border: 2px solid black; border-radius: 50%; margin-right: 10px;" src="data:image/png;base64,@Convert.ToBase64String(item.ProfileImage)" alt="User Profile Image" />
                                    }
                                    <div class="d-flex flex-column justify-content-start align-items-start">
                                        <h5 class="card-title" style="margin: 0; text-align: center;">@Html.DisplayFor(modelItem => item.FirstName)</h5>
                                        <small class="text-muted">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= item.AvgRating)
                                                {
                                                    <i class="fas fa-star text-warning"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-star"></i>
                                                }
                                            }

                                        </small>
                                    </div>
                                </div>




                                <p class="card-text">@Html.DisplayFor(modelItem => item.ProfileBio)</p>
                                @*                                <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.startDate) - @Html.DisplayFor(modelItem => item.endDate)</small></p>
                        *@

                            </div>
                            <div class="card-footer d-flex justify-content-between flex-wrap">
                                <span><span class="price" style="color:red">$@Html.DisplayFor(modelItem => item.Rate)</span> @Localizer["per day"]</span>

                                <div class="more-info-link">
                                    <a asp-controller="Booking" asp-action="SitterDetails" asp-route-sitterID="@item.SitterId" class="link-light"><button class="mx-auto">@Localizer["View profile"]</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            else
            {
                <p>@Localizer["No sitters found"]</p>
            }
        </div>


    </div>

    <hr class="mt-4">


    <div class="FindPetsitter">
        <h1>@Localizer["Ready to find a pet sitter ?"]</h1>
        <a class="btn" asp-area="" asp-controller="Booking" asp-action="FindASitter">@Localizer["Find a pet sitter now"]</a>

    </div>

</div>
<script>

    const btnPetMainPage = document.querySelector('.btnPetMainPage');
    const petNames = ['cat', 'dog', 'friend'];
    let currentPetIndex = 0;

    btnPetMainPage.addEventListener('click', () => {
        currentPetIndex = (currentPetIndex + 1) % petNames.length;
        btnPetMainPage.textContent = petNames[currentPetIndex];
    });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<script>
    (function ($) {
        $(function () {
            $('.vertical-slider').slick({
                arrows: false,
                dots: false,
                edgeFriction: .5,
                infinite: false,
                vertical: true,
                verticalSwiping: true,
            });

            $('.vertical-slider').mousewheel(function (e) {
                if (e.deltaY < 0) {
                    if ($(this).slick('slickCurrentSlide') == $(this).find('.slide').length - 1) {
                        return
                    }

                    e.preventDefault()
                    $(this).slick('slickNext')
                } else {
                    if ($(this).slick('slickCurrentSlide') == 0) {
                        return
                    }

                    e.preventDefault()
                    $(this).slick('slickPrev')
                }
            });
        });
    }(jQuery));
</script>
