 @model IEnumerable<Petsitter.ViewModels.NewsVM>

@{
    ViewData["Title"] = "News";
}

<div class="container">
    <h1 class="h1-find">Новости</h1>
   
    <ul>
        @foreach (var news in Model)
        {
             <div class="news__wrapper">
            <li>
                <h2>@news.Title</h2>
                <p>Категория: @news.Category</p>
                <p>@news.Body</p>
               @*  @if (news.Image != null)
                {
                    <img style="max-width: 400px;" src="data:image/png;base64, @Convert.ToBase64String(news.Image)" />
                }
                else
                {
                    <img style="max-width: 400px;" src="~/images/default-image.jpg" alt="Default Profile Image" />
                } *@
                <p>Дата: @news.Date.ToString("dd.MM.yyyy")</p>

            </li>
            </div>

        }
    </ul>
</div>

