@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (HttpContextAccessor.HttpContext.Session.GetString("UserID") == null)
        {
            @* <li class="nav-item">
                <label class="switch">

                    <input type="checkbox" id="langCheck">

                    <span class="slider round">EN RU</span>

                </label>
            </li> *@

              <li class="nav-item">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path" method="post">
                                <button class="btn__language">Ру</button>
                            </form>
                </li>
                <li class="nav-item">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" method="post">
                                <button class="btn__language">En</button>
                            </form>
                </li>


            <li class="nav-item">
                <a class="register-button" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
            </li>
            <li class="nav-item">
                <a class="login-button" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
            </li>
         @*    <li class="nav-item">
                <div class="header-wrapper">

                    <div class="nav-but-wrap">
                        <div class="menu-icon hover-target">
                            <span class="menu-icon__line menu-icon__line--light menu-icon__line-left"></span>
                            <span class="menu-icon__line menu-icon__line--light"></span>
                            <span class="menu-icon__line menu-icon__line--light menu-icon__line-right"></span>
                        </div>
                    </div>
                </div>
            </li> *@
        }
        else
        {
          @*   <li class="nav-item">
                <label class="switch">

                    <input type="checkbox" id="langCheck">

                    <span class="slider round">EN RU</span>

                </label>
            </li> *@

                      <li class="nav-item">
            <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path" method="post">
                            <button class="btn__language">Ру</button>
                        </form>
            </li>
            <li class="nav-item">
            <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" method="post">
                            <button class="btn__language">En</button>
                        </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравствуйте  @HttpContextAccessor.HttpContext.Session.GetString("UserName")!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-white">@Localizer["Logout"]</button>
                </form>
            </li>
          
            <li class="nav-item">
                <div class="header-wrapper">

                    <div class="nav-but-wrap">
                        <div class="menu-icon hover-target">
                            <span class="menu-icon__line menu-icon__line--light menu-icon__line-left"></span>
                            <span class="menu-icon__line menu-icon__line--light"></span>
                            <span class="menu-icon__line menu-icon__line--light menu-icon__line-right"></span>
                        </div>
                    </div>
                </div>
              
            </li>

        }
}
else
    {
       @*  <li class="nav-item">
            <label class="switch">

                <input type="checkbox" id="langCheck">

                <span class="slider round">EN RU</span>

            </label>
        </li> *@

        <li class="nav-item">
            <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path" method="post">
                <button class="btn__language">Ру</button>
            </form>
        </li>
        <li class="nav-item">
            <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" method="post">
                <button class="btn__language">En</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="register-button" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="login-button" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
 @*        <li class="nav-item">
            <div class="header-wrapper">

                <div class="nav-but-wrap">
                    <div class="menu-icon hover-target">
                        <span class="menu-icon__line menu-icon__line--light menu-icon__line-left"></span>
                        <span class="menu-icon__line menu-icon__line--light"></span>
                        <span class="menu-icon__line menu-icon__line--light menu-icon__line-right"></span>
                    </div>
                </div>
            </div>

        </li> *@
    }
</ul>


<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Функция для сохранения выбранного языка в localStorage
    function saveLanguageSelection(language) {
        localStorage.setItem('selectedLanguage', language);
    }

    // Проверяем, был ли выбран язык при предыдущем посещении страницы
    var selectedLanguage = localStorage.getItem('selectedLanguage');
    if (selectedLanguage) {
        // Если язык был выбран, добавляем класс "selected" к соответствующей кнопке
        $('.btn__language').removeClass('selected');
        $('.btn__language').each(function () {
            if ($(this).text() === selectedLanguage) {
                $(this).addClass('selected');
            }
        });
    }

    // При выборе языка, сохраняем выбор и добавляем класс "selected" к кнопке
    $('.btn__language').click(function () {
        $('.btn__language').removeClass('selected');
        $(this).addClass('selected');
        var selectedLanguage = $(this).text();
        saveLanguageSelection(selectedLanguage);
    });
</script>

<script>


    

    (function ($) {
        "use strict";

        //Page cursors

        document.getElementsByTagName("body")[0].addEventListener("mousemove", function (n) {
            t.style.left = n.clientX + "px",
                t.style.top = n.clientY + "px",
                e.style.left = n.clientX + "px",
                e.style.top = n.clientY + "px",
                i.style.left = n.clientX + "px",
                i.style.top = n.clientY + "px"
        });
        var t = document.getElementById("cursor"),
            e = document.getElementById("cursor2"),
            i = document.getElementById("cursor3");
        function n(t) {
            e.classList.add("hover"), i.classList.add("hover")
        }
        function s(t) {
            e.classList.remove("hover"), i.classList.remove("hover")
        }
        s();
        for (var r = document.querySelectorAll(".hover-target"), a = r.length - 1; a >= 0; a--) {
            o(r[a])
        }
        function o(t) {
            t.addEventListener("mouseover", n), t.addEventListener("mouseout", s)
        }

        //Navigation

        var app = function () {
            var body = undefined;
            var menu = undefined;
            var menuItems = undefined;
            var init = function init() {
                body = document.querySelector('body');
                menu = document.querySelector('.menu-icon');
                menuItems = document.querySelectorAll('.nav__list-item');
                applyListeners();
            };
            var applyListeners = function applyListeners() {
                menu.addEventListener('click', function () {
                    return toggleClass(body, 'nav-active');
                });
            };
            var toggleClass = function toggleClass(element, stringClass) {
                if (element.classList.contains(stringClass)) element.classList.remove(stringClass); else element.classList.add(stringClass);
            };
            init();
        }();


        //Switch light/dark

        $("#switch").on('click', function () {
            if ($("body").hasClass("light")) {
                $("body").removeClass("light");
                $("#switch").removeClass("switched");
            }
            else {
                $("body").addClass("light");
                $("#switch").addClass("switched");
            }
        });

    })(jQuery);
</script>
<script>
    var langCheckbox = document.getElementById('langCheck');

    langCheckbox.addEventListener('change', function () {
        if (langCheckbox.checked) {
            console.log('Чекбокс ru');

           
        } else {
            console.log('Чекбокс en');
            

        }
    });


</script>
