@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (HttpContextAccessor.HttpContext.Session.GetString("UserID") == null)
        {

            <li class="nav-item">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">RU</button>
                </form>
            </li>
                <li class="nav-item">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">EN</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="register-button" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
            </li>
            <li class="nav-item">
                <a class="login-button" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
            </li>
            <li class="nav-item">
                <a class="" asp-area="menuPic" asp-controller="Home" asp-action="Index">
                    <img class="img" src="/Images/menu.png" alt="menu">
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">RU</button>
                </form>
            </li>
            <li class="nav-item">
                <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">EN</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @HttpContextAccessor.HttpContext.Session.GetString("UserName")!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="" asp-area="menuPic" asp-controller="Home" asp-action="Index">
                    <img class="img" src="/Images/menu.png" alt="menu">
                </a>
            </li>

        }
}
else
    {
        <li class="nav-item">
            <label class="switch">

                <input type="checkbox" id="langCheck">

                <span class="slider round">EN RU</span>

            </label>
        </li>

      @*   <li class="nav-item">
            <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru-RU" asp-route-returnUrl="@Context.Request.Path" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">RU</button>
            </form>
        </li>
        <li class="nav-item">
            <form asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">EN</button>
            </form>
        </li> *@
        <li class="nav-item">
            <a class="register-button" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="login-button" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
        <li class="nav-item">
            <button class="header__button nav-btn-js" type="button">
                <img class="img" src="/Images/menu.png" alt="menu">
            </button>
        </li>
    }
</ul>

<script>
    var langCheckbox = document.getElementById('langCheck');

    langCheckbox.addEventListener('change', function () {
        if (langCheckbox.checked) {
            console.log('Чекбокс ru');

           
        } else {
            console.log('Чекбокс en');
            

        }
    });


</script>
