@model IEnumerable<Petsitter.ViewModels.MessageVM>
@{
    ViewData["Title"] = "Chat with " + @ViewData["FirstName"];
}

<div class="container">

            <h1 class="text-center">@ViewData["FirstName"]</h1>

            <div class="chat__wrapper">
                            <ul id="list" class="chat__list">
                                @foreach (var item in Model )
                                {
                                    int? fromUserID = ViewData["fromUserID"] as int?;
                                    int? toUserID = ViewData["toUserID"] as int?;


                                    if (item.fromUserID == fromUserID.Value && item.toUserID == toUserID.Value)
                                    {
                                        <li>
                                            <div style="font-weight: bold;">
                                                @ViewData["UserName"]
                                                @* @Html.DisplayFor(modelItem => item.fromUserID) *@
                                            </div>
                                            @Html.DisplayFor(modelItem => item.messageText)
                                        </li>
                                    }
                                    else if (item.toUserID == fromUserID.Value && item.fromUserID == toUserID.Value)
                                    {
                                        <li>
                                            <div style="font-weight: bold;">
                                                @ViewData["FirstName"]
                                                @* @Html.DisplayFor(modelItem => item.fromUserID) *@
                                            </div>
                                            @Html.DisplayFor(modelItem => item.messageText)
                                        </li>
                                    }
                                }
                            </ul>
        <div class="textarea__and__btn">
                <textarea class="chat__textarea" id="txtMsg" ></textarea>
                <button type="submit" class="btn btn-info" style="border:none;" id="btnSendMsg">Отправить</button>
        </div>
    </div>



 
    <input type="hidden" id="fromUserID" value="@ViewData["fromUserID"]" />
    <input type="hidden" id="toUserID" value="@ViewData["toUserID"]" />

</div>

@{
  
    ViewData["SitterID"] = @ViewData["SitterID"];
}

@section Scripts {
      
        
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
}
