@model IEnumerable<Petsitter.ViewModels.MessageVM>
@{

    IEnumerable<Chat> chats = ViewData["ChatLists"] as IEnumerable<Chat>;
    var currUser = ViewData["CurrUser"];
}
<table class="table">
    @if (chats.Count() == 0)
    {
        <p class="lead">You have no chats</p>
    }
    else
    {
        <tr>
            <th>Name</th>
        </tr>
        @foreach (Chat chat in chats)
        {
            <tr class="pet-lists">
                <td class="d-flex justify-content-between lead">
                    <div>
                        @if (currUser == chat.User1)
                        {
                            <p class="lead">@chat.User2.FirstName</p>
                            @if (chat.User2.ProfileImage != null)
                            {
                                <img src="data:image/png;base64, @Convert.ToBase64String(chat.User2.ProfileImage)" alt="@Html.DisplayFor(modelItem => chat.User2.FirstName) Profile Image" class="img-fluid mx-auto my-3 d-block img-thumbnail sitter-image" />
                                <div class="more-info-link">
                                    <a asp-controller="Chat" asp-action="Chat" asp-route-sitterID="@ViewBag.SitterID" class="mt-2 mb-4 text-white mx-auto col-12 col-md-6 btn" style="background:#6366F1; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">Write a message to @ViewBag.FirstName</a>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="lead">@chat.User1.FirstName</p>
                            @if (chat.User1.ProfileImage != null)
                            {
                                <img src="data:image/png;base64, @Convert.ToBase64String(chat.User1.ProfileImage)" alt="@Html.DisplayFor(modelItem => chat.User1.FirstName) Profile Image" class="img-fluid mx-auto my-3 d-block img-thumbnail sitter-image" />
                                <div class="more-info-link">
                                    <a asp-controller="Chat" asp-action="Chat" asp-route-sitterID="@ViewBag.SitterID" class="mt-2 mb-4 text-white mx-auto col-12 col-md-6 btn" style="background:#6366F1; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">Write a message to @ViewBag.FirstName</a>
                                </div>
                            }
                        }
                     
                       
                    </div>
                </td>
            </tr>
        }

    }
</table>
<h1 class="text-center">My Chats</h1>


