@*@model IEnumerable<Petsitter.ViewModels.SitterDashboardVM>
*@
@using Petsitter.Controllers
@model PaginatedList<Petsitter.ViewModels.SitterDashboardVM>


@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="container">

<div class=dashboard>
<div class="dashboard-filter">
  
    <div class="mt-3 mb-3 back-to-profile font-monospace lead" style="font-size:large;">
        <a asp-action="Dashboard" class="back-link">
                <span class="arrow" style="color:#91AC8E;"></span>
                <span class="text text-lg-start mt-1">
                Назад к полному списку
            </span>
        </a>
    </div>
    <form method="get" action="/Sitter/Dashboard">
        <label for="booking-status-filter">Filter by Status:</label>
        <select id="booking-status-filter" name="status" onchange="this.form.submit()">
            <option value="">-- Выберите статус --</option>
            <option value="UpComing">Предстоящие</option>
            <option value="Complete">Выполненные</option>
        </select>
    </form>


</div>
<div class="dashboard-count">
    <dl class="row">

        <dt class="col">
                    <h2>Предстоящие</h2>
                    <h3>Предстоящие бронирования</h3>
            <span> @ViewBag.UpComing</span>
        </dt>
        <dt class="col">
                    <h2>Выполненные</h2>
                    <h3>Выполненные бронирования</h3>
            <span>

                @ViewBag.Complete
            </span>
        </dt>

        <dt class="col">
            <h2>Отзывы</h2>
            <h3>Отзывы клиентов</h3>

            <span>
                @ViewBag.Reviews
            </span>
        </dt>
    </dl>

</div>
<div class="dashboard-pagination">
    <div class="btn btn-default @prevDisabled prev">
        <a asp-action="Dashboard"
           asp-route-page="@(Model.PageIndex - 1)">
                <i style="font-size:24px;    color: #91AC8E" class="fa">&#xf137;</i>
                </a><span>Ппредыдущий </span>
    </div>
    <div class="btn btn-default @nextDisabled next">
        <span> Следующий </span>
        <a asp-action="Dashboard"
           asp-route-page="@(Model.PageIndex + 1)">
                <i style="font-size:24px;    color: #91AC8E" class="fa">&#xf138;</i>
        </a>
    </div>
</div>

<table class="dashboard-table">
    <thead>
        <tr>
            <th>
                booking ID
            </th>
            <th>
                Pet Parent
            </th>
            <th>
                Pet Type
            </th>
            <th>
                Status
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>



            <th>
                Details
            </th>

        </tr>
    </thead>
    @if (Model.Any())
{
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a>  @Html.DisplayFor(modelItem => item.bookingId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.petParent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.petType)
                </td>
                <td>
                    @if (item.status == "Complete")
                    {<div class="alert alert-success mx-auto">

                            @Html.DisplayFor(modelItem => item.status)
                        </div>
                    }
                    @if (item.status == "UpComing")
                            {
                                <div class="alert alert-danger mx-auto">

                            @Html.DisplayFor(modelItem => item.status)
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>


                <td>
                    <a asp-action="Details" asp-route-id="@item.bookingId">
                                <span class="material-symbols-outlined fa-4x">
                                    more_horiz
                                </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
        }
        else
        {
            <p>No Booking found for now.</p>
        }
 

</table>
       
</div>
</div>